body {
  margin: 0;
  padding: 0;
  background: #232123;
  color: #fff;
}

.violet {
  background: #a066f9;
  color: #fff;
}

.blue {
  color: #ccc;
  background: cornflowerblue;
}

.orange {
  background: #f29c36; /*#f4b05b;*/
  color: #fff;
  transition: opacity .2s ease-in;
}

.orange:hover {
  color: #fff;
  opacity: .8;
}

.checkbox {
  width: 50px;
  height: 30px;
}

.card-footer > button {
  margin-right: 15px;
}

.editField {
  background: #a066f9;
  width: 80%;
  display: block;
  outline: none;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 7px;
  margin: 15px 15px 5px;
  box-sizing: border-box;
  color: #fff;
}

.editField.finished {
  background: cornflowerblue;
}

.edit-button {
  margin: 5px 20px 5px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ccc;
}
